img {
  float: left;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
  color:pink;
  border-radius: 40px;
}
body {
  background-color:
   aquamarine;
  }
h1  {
  color:rgba(242, 7, 242, 0.557)
}
h2 {outline-color: ghostwhite;
  color: rgba(255, 62, 62, 0.557);}
  